@import '../../../styles/variables.scss';

.questionCaptcha {
    font-family: "Unbounded", Helvetica;
    font-size: 14px;
    color: red;
}

.questionCaptchaHidden {
    display: none;
}

.challengeComplete {
    font-family: "Unbounded", Helvetica;
    font-size: 14px;
    color: green;
}

.challengeFailed {
    font-family: "Unbounded", Helvetica;
    font-size: 14px;
    color: red;
}
